body {
  border: 3px solid green;
  background-color: #4CAF50;
  width: 300px;
  padding: 8% 0 0;
  margin: auto;
}


.login-form {
  border: 3px solid red;
  background-color: aqua;
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto 100px;
  padding: 50px;
  text-align: center;
}
.login-form input{
  border: 3px solid black;
  text-decoration: solid;
  width: 100%;
  border: 0;
  background: #f2f2f2;
  margin: 0 0 5px;
  padding: 5px;
}

.login-form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 105%;
  border: 0;
  padding: 5px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}

a:link {
  border: 3px solid blue;
  position: relative;
  top: 25px;
  color: #b3b3b3;
  font-size: 8px;
  text-decoration: none;
}

img{
  width: 20px;
}